/* ==========================================================================
   TURNKEY CONDENSED
   ========================================================================== */

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Turnkey Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0658/2445/6946/files/TURNKEYCONDENSED-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}